<%- include("partials/header") -%>

    <h1>Compose</h1>
    <form action="/compose" method="POST">
        <div class="form-group">
            <label for="postTitle" class="form-label">Title</label>
            <input type="text" name="postTitle" class="form-control">

            <label for="newPost" class="form-label">Post</label>
            <textarea name="newPost" id="newPost" cols="30" rows="5" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">PUBLISH</button>
    </form>

<%- include("partials/footer") -%>